[submodule "containerization/single-container/sample-nodejs-EXB"]
	path = containerization/single-container/sample-nodejs-EXB
	url = https://github.com/KaviV23/sample-nodejs-EXB
[submodule "containerization/single-container/Django-Website-EXB"]
	path = containerization/single-container/Django-Website-EXB
	url = git@github.com:KaviV23/Django-Website-EXB.git
[submodule "containerization/multi-container/MERN-docker-compose-EXB"]
	path = containerization/multi-container/MERN-docker-compose-EXB
	url = https://github.com/KaviV23/MERN-docker-compose-EXB
[submodule "code-pipelines/aws-codepipeline/react-101-EXB"]
	path = code-pipelines/aws-codepipeline/react-101-EXB
	url = https://github.com/KaviV23/react-101-EXB
[submodule "code-pipelines/learn-github-actions"]
	path = code-pipelines/learn-github-actions
	url = git@github.com:KaviV23/learn-github-actions.git
